#editar-perfil .body {
	display: flex;
	flex-direction: column;
}

#editar-perfil .body .form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 20px;
}

#editar-perfil .title {
	margin: 30px 0;
	color: var(--primary);
	align-self: baseline;
}

#editar-perfil .container-buttons {
	display: flex;
	justify-content: space-around;
	margin: 30px 0;
}

#editar-perfil .container-buttons .reverse {
	background-color: transparent !important;
	color: var(--secondary) !important;
	border: 1px solid var(--secondary) !important;
}
