.calendar {
	background-color: var(--primary) !important;
	border-radius: 16px !important;
	color: var(--white) !important;
	box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.calendar .MuiDayCalendar-weekContainer button {
	background-color: var(--white);
	border-radius: 4px !important;
	color: var(--black);
	border: none;
	display: block;
}

.calendar .MuiDayCalendar-weekContainer button:hover {
	background-color: var(--gray-300);
}

.calendar .MuiDayCalendar-weekContainer button:focus {
	background-color: var(--secondary);
	color: var(--white);
}
