#login {
	background-image: url("../../../assets/images/background/bgLogin.png");
	align-items: center !important;
}

#login span {
	color: var(--white);
	font-weight: 400;
	font-size: 0.7rem;
}

#login a {
	font-weight: 500;
}

#login .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 30px;
}

.login-itens {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login .links {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#login .dados-adicionais {
	display: flex;
	flex-direction: column;
}
