#login {
	background-image: url("../../../assets/images/background/bgLogin.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: right;
	align-items: center;
}

#login span {
	color: var(--white);
	font-weight: 400;
	font-size: 0.7rem;
}

#login a {
	font-weight: 500;
}

#login .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 10%;
	align-items: center;
	gap: 30px;
}

#login .links {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#login .dados-adicionais {
	display: flex;
	flex-direction: column;
}

/* ====== Reponsividade ====== */

@media (max-width: 1200px) {
	#login {
		justify-content: center;
	}
	#login .container {
		margin: 0 5%;
		align-items: center;
	}
}
