.cadastro {
	background-image: url("../../../assets/images/Cadastro.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	user-select: none;
}

.cadastro .container-cadastro {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-evenly;
	padding: 20px;
}

.cadastro .cadastro-navigator {
	color: var(--white);
	position: absolute;
	top: 0;
	left: 0;
	margin: 40px;
	font-size: 0.87rem;
	/* display: flex;
	gap: 5px;
	align-self: flex-start; */
}
