.input-label {
	color: var(--primary) !important;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 0.9rem;
}
.input-padrao {
	border: solid 2px var(--primary);
	border-radius: 16px !important;
	color: var(--primary) !important;
	font-size: 0.9rem !important;
	max-width: 300px;
	height: 40px;
	padding: 5px 16px;
}
