#form-login {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#form-login .container-form-login {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#form-login .button {
	background: var(--secondary) !important;
	color: var(--white) !important;
	padding: 10px !important;
	font-weight: 600 !important;
	border-radius: 16px !important;
}
