#home .container-home .title {
	margin-top: 30px;
	font-size: 1.5rem;
	align-self: baseline;
	font-weight: 300;
}

#home .container-home .title strong {
	font-weight: 500;
}

#home .container-title {
	color: var(--primary);
}

#home .container-home .items {
	margin-top: 50px;
}

#home .container-home .items h1 {
	font-weight: 500;
	color: var(--secondary);
	text-align: start;
}

#home .container-home .items .container-body {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	width: max-content;
	gap: 50px;
	padding: 0px 50px;
	align-items: center;
}

@media (max-width: 1100px) {
	#home .container-home .items .container-body {
		flex-direction: column-reverse;
		align-items: center;
		margin-top: 50px;
		width: 100%;
	}
}
