:root {
	--primary: #348789;
	--secondary: #001489;
	--gray-50: #dddfeb;
	--gray-100: #97909050;
	--gray-200: #535653;
	--gray-300: #7c838b;
	--white: #fff;
	--black: #272b30;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif !important;
}

#root {
	height: 100vh;
	width: 100%;
}
