.container-logo {
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.container-logo span {
	font-size: 1.5rem;
	font-weight: 500;
}

.logo-img {
	width: 135px;
	height: 125px;
}
